*~
*.elc
*.pyc
auto-save-list
autosaves
backup
elpa
el-get
eshell
savehist
saveplace
server
url
.emacs-places
.ido.last
.recentf
.smex-items
.layout
tramp
*.db.gz
.emacs-desktop
.emacs.desktop.lock
last-wconf
wconf-archive
